<d-data-table #datatable [dataSource]="basicDataSource" [scrollable]="true" [type]="'striped'">
    <d-column field="operation" header="键">
        <d-cell>
            <ng-template let-rowItem="rowItem" let-column="column">
                <input dTextInput />
            </ng-template>
        </d-cell>
    </d-column>
    <d-column field="operation" header="值">
        <d-cell>
            <ng-template let-rowItem="rowItem" let-column="column">
                <input dTextInput />
            </ng-template>
        </d-cell>
    </d-column>
    <d-column field="operation" header="操作">
        <d-cell>
            <ng-template let-rowItem="rowItem" let-column="column">
                <d-button bsStyle="text-dark"> 删除 </d-button>
            </ng-template>
        </d-cell>
    </d-column>
</d-data-table>