<div class="title">{{ title }}</div>

<d-data-table
  #datatable
  [dataSource]="basicDataSource"
  [scrollable]="true"
  [type]="'striped'"
  [headerBg]="true"
  [tableWidthConfig]="tableWidthConfig"
>
  <thead dTableHead>
    <tr dTableRow>
      <th dHeadCell *ngFor="let colOption of columns">
        {{ colOption.header }}
      </th>
      <th dHeadCell>操作</th>
    </tr>
  </thead>
  <tbody dTableBody>
    <ng-template
      let-rowItem="rowItem"
      let-rowIndex="rowIndex"
      let-nestedIndex="nestedIndex"
    >
      <tr dTableRow>
        <td dTableCell *ngFor="let colOption of columns">
          {{
            colOption.fieldType === "date"
              ? (rowItem[colOption.field] | dDatePipe: "y/M/d HH:mm:ss zzzz")
              : rowItem[colOption.field]
          }}
        </td>
        <td dTableCell>
          <app-action-menu [actions]="actionsFn()" (meunClick)="actionClick($event)"></app-action-menu>
        </td>
      </tr>
    </ng-template>

    <ng-template #noResultTemplateRef>
      <div style="text-align: center; margin-top: 20px">No Data</div>
    </ng-template>
  </tbody>
</d-data-table>
